.newsletter {
	padding: 50px 20px;
	background-color: #f8f8f8;
	text-align: center;
}

.newsletter input {
	padding: 10px;
	width: 300px;
	margin-right: 10px;
}

.newsletter button {
	padding: 10px 20px;
	background-color: #ff004f;
	color: white;
	border: none;
	border-radius: 5px;
}