header {
  background-color: #f8f8f8;
}

.top-bar {
  background-color: #ff004f;
  color: #1f1616;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.top-bar a {
  color: white;
  text-decoration: underline;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  flex-wrap: wrap;
}

.navbar__logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff004f;
  margin-right: 20px;
}

.navbar__logo span {
  color: #bebcbc;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 15px;
  gap: 20px;
}

.nav__links li {
  display: inline;
}

.nav__links a {
  text-decoration: none;
  color: black;
}

/* Search Bar Styles */
.search__bar {
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
}

.search__bar input {
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-color: #e4e1e1;
  border-radius: 20px;
  padding: 12px 15px;
}

.search__bar input::placeholder {
  padding-left: 15px;
}

.search__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* User Links Styles */
.user__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user__links span {
  margin-right: 10px;
}

.user__links a {
  text-decoration: none;
  color: black;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ff004f;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav__links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
  }

  .nav__links--open {
    display: flex;
  }

  .nav__links li {
    display: block;
    margin-bottom: 10px;
  }

  .hamburger {
    display: flex;
  }

  .search__bar input {
    width: 80%;
  }

  .search__bar,
  .user__links {
    display: none;
  }
}
